
// size 1
$s1: 60;
$s1: 40;

// ================================================
// sizes
// ================================================
$s-mobile: 320;
$m-mobile: 480;
$l-mobile: 600;

$s-tablet: 768;
$m-tablet: 1024;
$l-tablet: 1100;

$s-desktop: 1280;
$m-desktop: 1440;
$l-desktop: 1640;
$xl-desktop: 2100;
